<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationProperties</key>
	<dict>
		<key>ApplicationPath</key>
		<string>Applications/SigningDay.app</string>
		<key>CFBundleIdentifier</key>
		<string>com.signingday.ios.SigningDay</string>
		<key>CFBundleShortVersionString</key>
		<string>1.0</string>
		<key>CFBundleVersion</key>
		<string>1.0</string>
		<key>IconPaths</key>
		<array>
			<string>Applications/SigningDay.app/Default.png</string>
			<string>Applications/SigningDay.app/Default@2x.png</string>
			<string>Applications/SigningDay.app/app_icon_retina.png</string>
			<string>Applications/SigningDay.app/app_icon.png</string>
		</array>
		<key>SigningIdentity</key>
		<string>iPhone Distribution: Athletic Integrity LLC</string>
	</dict>
	<key>ArchiveVersion</key>
	<integer>2</integer>
	<key>CreationDate</key>
	<date>2013-03-07T13:36:43Z</date>
	<key>Name</key>
	<string>SigningDay</string>
	<key>SchemeName</key>
	<string>SigningDay</string>
	<key>Status</key>
	<string>Submitted</string>
</dict>
</plist>
